<ion-content>
  <div class="header">
    <ion-title class="title">Bienvenido</ion-title>
    <h5 class="subTitle">Ingresa tus datos personales para crear tu cuenta</h5>
  </div>

 
  <form [formGroup]="regForm" novalidate>
    <div class="ion-padding">
      <ion-item>
        <ion-input formControlName="fullname" placeholder="Nombre" class="input"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      
      <div *ngIf="this.regForm.controls?.['fullname'].touched && this.regForm.controls?.['fullname'].invalid">
        <ion-text class="error">Ingrese su nombre</ion-text>
      </div>
      
      <ion-item>
        <ion-input formControlName="email" placeholder="Email" class="email"></ion-input>
        <ion-icon name="mail-outline"></ion-icon>
      </ion-item>

      <div *ngIf="this.regForm.controls?.['email'].touched && this.regForm.controls?.['email'].invalid">
        <ion-text class="error" *ngIf="errorControl.email.errors?.requiered">
          Email Requerido
        </ion-text>
        <ion-text class="error" *ngIf="errorControl.email.errors?.pattern">
          Email invalido
        </ion-text>
      </div>

      <ion-item>
        <ion-input formControlName="password" type="text" placeholder= "Contraseña" class="input"></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>

      <div *ngIf="this.regForm.controls?.['password'].touched && this.regForm.controls?.['password'].invalid">
        <ion-text class="error" *ngIf="errorControl.password.errors?.requiered">
          Contraseña Requerido
        </ion-text>
        <ion-text class="error" *ngIf="errorControl.password.errors?.pattern">
          La contraeña debe contener por lo menos un caracter especial,
          Una letra mayuscula,
          Un numero,
          8 caracteres minimo.
        </ion-text>
      </div>
  
      <div>
        <p style="color: #fffefe;"> ¿Ya tienes una cuenta?</p> 
        <a style="color: #ffffff;" [routerLink]="['/login']">Iniciar sesión </a>
      </div>
      
      <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px;">
      <ion-fab-button id="present-alert" (click)="signUp()">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
        <ion-alert
          trigger="present-alert"
          header="¡Felicidades!"
          
          message="Ya estas registrado."
          [buttons]="alertButtons"
        ></ion-alert>
      </ion-fab>
    </div>
  </form>
</ion-content>